@import "theme-editor.css";
@import url('./variables.css');
@import url('./main-layout.css');
@import url('./main-content-layout.css');
@import url('./pets-container.css');
@import url('./navigation.css');


.title {
    font-size: var(--lumo-font-size-xxl);
    color: var(--lumo-header-text-color);
    font-weight: 600;
    line-height: var(--lumo-line-height-xs);
    margin-block: 0;
}

.button-icon {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    padding: var(--lumo-space-s);
    --lumo-icon-size-m: 36px;
    border-radius: var(--lumo-border-radius-m);
}
